In [74]:
#NEED TO TRANSFORM TEST TOO

In [67]:
# General imports

import numpy as np
import pandas as pd
import datetime as dt
import os, gc, math
import psycopg2

In [68]:
#Variables
path = os.path.join(os.path.expanduser('~'), 'Documents', 'github.passwords', 'energy.predictor.2020.config')
print (path)

myfile = open(path,"rt")
config= myfile.read()

/home/douglas/Documents/github.passwords/energy.predictor.2020.config

In [69]:
#count lines

#  Read PostgreSQL into dataframe
#connection
connection = psycopg2.connect(config)

cursor = connection.cursor()

sql = '''
        SELECT
            COUNT(t.timestamp)
        FROM
            weather_train as w
        INNER JOIN building_metadata as bm
            ON (bm.site_id = w.site_id)
        INNER JOIN train as t
            ON (t.timestamp = w.timestamp) AND (t.building_id = bm.building_id)
        WHERE
                         w.timestamp IS NOT NULL 
             AND w.air_temperature IS NOT NULL 
             AND w.dew_temperature IS NOT NULL
             AND w.sea_level_pressure IS NOT NULL 
             AND w.wind_direction IS NOT NULL 
             AND w.wind_speed IS NOT NULL
       '''

number_lines = pd.read_sql_query(sql,connection) 

if (connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL connection is closed

In [70]:
number_lines

      count
0  17684654

In [71]:
#count lines

#  Read PostgreSQL into dataframe
#connection
connection = psycopg2.connect(config)

cursor = connection.cursor()

sql = '''
        SELECT
            bm.building_id,
            bm.site_id,
            t.meter,
            t.timestamp,
            t.meter_reading,
            bm.primary_use,
            bm.square_feet,
            bm.year_built,
            bm.floor_count,
            w.air_temperature,
            w.cloud_coverage,
            w.dew_temperature,
            w.precip_depth_1_hr,
            w.sea_level_pressure,
            w.wind_direction,
            w.wind_speed       
            
        FROM
            weather_train as w
        INNER JOIN building_metadata as bm
            ON (bm.site_id = w.site_id)
        INNER JOIN train as t
            ON (t.timestamp = w.timestamp) AND (t.building_id = bm.building_id)
        WHERE
                         w.timestamp IS NOT NULL 
             AND w.air_temperature IS NOT NULL 
             AND w.dew_temperature IS NOT NULL
             AND w.sea_level_pressure IS NOT NULL 
             AND w.wind_direction IS NOT NULL 
             AND w.wind_speed IS NOT NULL
       '''

df = pd.read_sql_query(sql,connection) 

if (connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL connection is closed

In [72]:
#data check
print("Main:",list(df),df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17684654 entries, 0 to 17684653
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   building_id         int64
 1   site_id             int64
 2   meter               int64
 3   timestamp           datetime64[ns]
 4   meter_reading       float64
 5   primary_use         object
 6   square_feet         int64
 7   year_built          float64
 8   floor_count         float64
 9   air_temperature     float64
 10  cloud_coverage      float64
 11  dew_temperature     float64
 12  precip_depth_1_hr   float64
 13  sea_level_pressure  float64
 14  wind_direction      float64
 15  wind_speed          float64
dtypes: datetime64[ns](1), float64(10), int64(4), object(1)
memory usage: 2.1+ GB
Main: ['building_id', 'site_id', 'meter', 'timestamp', 'meter_reading', 'primary_use', 'square_feet', 'year_built', 'floor_count', 'air_temperature', 'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure', 'wind_direction', 'wind_speed'] None

In [73]:
#preprocess
#timestamp
for i in [df]:
    i['DT_month'] = i['timestamp'].dt.month.astype(np.int8)
    i['DT_week_y'] = i['timestamp'].dt.isocalendar().week.astype(np.int8)
    i['DT_day_y'] = i['timestamp'].dt.dayofyear.astype(np.int8)
    i['DT_hour'] = i['timestamp'].dt.hour.astype(np.int8)
    i['DT_day_w'] = i['timestamp'].dt.dayofweek.astype(np.int8)
    i['DT_day_m'] = i['timestamp'].dt.day.astype(np.int8)
    i['DT_week_m'] = i['timestamp'].dt.day/7
    i['DT_week_m'] = i['DT_week_m'].apply(lambda x: math.ceil(x)).astype(np.int8)    
    

#string to category
df['primary_use'] = df['primary_use'].astype('category')

le = LabelEncoder()
df['primary_use'] = df['primary_use'].astype(str)
df['primary_use'] = le.fit_transform(df['primary_use']).astype(np.int8)

#fill empty - floor count NA = 0, year built = -999
df['floor_count'] = df['floor_count'].fillna(0).astype(np.int8)
df['year_built'] = df['year_built'].fillna(0).astype(np.int8)

NameError: name 'LabelEncoder' is not defined

In [ ]:
#data check#data check
print("Main:",list(df),df.info())